/* unselectable */
html{
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
/* unselectable */
/* design */
body{padding:0px;}
h1{margin:0px;padding:0px;}
.logo{width:75px;margin:20px;margin-bottom:-10px;}
.buildImg{width:175px;height:auto;margin-left:575px;}
.wrap{width:90%;margin:auto;}
#tarif{font-size:2em; margin-left:155px;}
#tarif-desc{margin-left:150px;line-height:1.9;}
.couponDiv{width:150px;padding:1px;margin-left:655px;}
#couponCode{font-size:11px;font-family:Comic Sans MS;}
#fileOrganizer{margin-left:95px;}
@media only screen and (max-width: 576px) {
  .wrap {width:350px;margin:auto;}
  .logo{width:37px;margin:10px;margin-bottom:-5px;}
  .buildImg{width:85px;height:auto;margin-left:225px;}
  #tarif{font-size:2em; margin-left:55px;}
  #tarif-desc{margin-left:50px;line-height:1.8;}
  .couponDiv{display:none;}
  #buildingPage{width:250px;}
#fileOrganizer{margin-left:6px;width:333px;}
}
.txtLink{text-decoration:none;color:black;font-size:22px;margin-left:13px;}
/* design */
/* Top Button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E5FFE5;
  color: darkgreen;
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
}
#topBtn:hover {background-color: #00FF33;}
/* Top Button */
/* footer */
.mailto{width:20px;height:20px; cursor:pointer;}
footer{padding-top:12px;border-top:1px solid black;text-align:center;}
footer a{text-decoration:none;color:black;}
#obj:hover{cursor:pointer;color:white;}
/* footer */