html{
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
body{margin:0px;padding:0px;}
main{margin:1px;padding:0px;}
.wrapper{margin:1px;padding:0px;}
h1{margin:0px;padding:0px;}
.logo{width:75px;margin:20px;margin-bottom:-10px;}
.buildImg{width:175px;height:auto;margin-left:575px;}
.wrap{width:90%;margin:auto;}
#tarif{font-size:2em; margin-left:155px;}
#tarif-desc{margin-left:150px;line-height:1.9;}
.coupon{width:150px;padding:1px;border: 3px dashed black;margin-left:655px;}
#couponCode{font-size:11px;font-style:italic;font-family:Comic Sans MS;}
@media only screen and (max-width: 576px) {
  .wrap {width:350px;margin:auto;}
  .logo{width:37px;margin:10px;margin-bottom:-5px;}
  .buildImg{width:85px;height:auto;margin-left:225px;}
  #tarif{font-size:2em; margin-left:55px;}
  #tarif-desc{margin-left:50px;line-height:1.8;}
}
.txtLink{text-decoration:none;color:black;font-size:22px;margin-left:13px;}