html{
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
body{margin:0px;padding:0px;}
main{margin:1px;padding:0px;}
.wrapper{margin:1px;padding:0px;}
h1{margin:0px;padding:0px;}
.logo{width:75px;margin:20px;margin-bottom:-10px;}
.buildImg{width:175px;height:auto;margin-left:575px;}
.wrap{width:90%;margin:auto;}
@media only screen and (max-width: 576px) {
  .wrap {width:350px;margin:auto;}
  .buildImg{width:85px;height:auto;margin-left:225px;}
}
.txtLink{text-decoration:none;color:black;font-size:22px;margin-left:13px;}