html{
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
body{margin:0px;padding:0px; }
main{margin:1px;padding:0px;}
.wrapper{margin:1px;padding:0px;}
h1{margin:0px;padding:0px;}
header{display: grid; place-items: center; }
.logo{width:50px;height:50px;margin:0px;padding:0px;}
.buildImg{width:175px; height:auto; margin:0px; padding:0px;float:right;}
.wrap{width:850px;margin:auto;}
@media only screen and (max-width: 576px) {
  .wrap {
    width:450px;margin:auto;
  }
}
.txtLink{text-decoration:none;color:black;}