i{font-size:12px;} 
			.wrap{margin-left:85px;margin-right:85px;padding:16px;}
			.wrapped{width:500px;padding:0px;}
body {
  font-family: "Lato", sans-serif;
  width:auto;
margin:10px;
padding:7px;
}
h1{margin:0px;}
#countDown{width:333px;height:auto;margin:6px;padding:4px;background:darkgrey;box-shadow:2px 3px 4px 6px;color:white;font-size:2em;font-weight:bold;}
#countDown:hover{background:lightgrey;color:black;border-radius:25px 25px 25px 25px;}
#greeting{float:right;margin-top:0px;}
#greeting:hover{cursor:default;}
/*
#validate{cursor:pointer;}
*/
label#input{margin-left: 105px;}
input{margin-left:35px;}
.done{text-decoration:line-through;}
/* Side Nav Overlay Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Added Dropdown Sub Menu */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  }
.dropdown:hover .dropdown-content {
  display:block;
}
/* Dropdown Sub Menu */
/* Side Nav Overlay Menu */
.txtLink{color:black;text-decoration:none;}
.txtLink:hover{}
  #backBtn{
  font-size:21px;
  font-weight:bold;
  padding: 8px 8px 8px 32px;
  position:absolute;bottom:100px;
  cursor:pointer;
  color:lightblue;
}
#backBtn:hover{color:white;}
    /* sandBox */
    h3{font-family: "Comic Sans MS", cursive, sans-serif; color:black;text-decoration:none;}
    #scripts{position:relative;left:22px;top:-20px;}
    .script{width:583px;height:115px;background-color:darkgrey;
      border:1px solid grey;box-shadow:2px 3px 4px 6px lightgrey;
      margin:5px;padding:3px;columns: 497px 2;}
    #html,#css,#js{width:575px;height:105px;}
    pre.textnode{margin:6px;}
    #resolution{position:absolute;left:963px;top:275px;text-decoration:underline;}
    #resolution:hover{cursor:progress;}
    .result{
    width:721px;height:343px;background-color:white;border:1px solid grey;box-shadow:2px 3px 4px lightgrey;margin:0px;padding:3px;columns: 497px 2;
      position:absolute;left:690px;top:320px;}
      .result:hover{cursor:wait;}
    #result{margin:1px;width:468px;height:325px;}
    #run{
position:absolute;left:500px;top:260px;
      padding:12px 13px;background-color:#00ff00;font-weight:bold;font-size:16px;}
    #run:hover{background-color:yellow;cursor:pointer;}
    /* sandBox */
.certif{width:420px;height:300px;margin:15px;}
